<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mx.imgpicker">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:requestLegacyExternalStorage="true">
        <provider
            android:name="com.mx.imgpicker.utils.MXImagePickerProvider"
            android:authorities="${applicationId}.imagePickerProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/mx_image_picker_file_paths" />
        </provider>

        <activity
            android:name="com.mx.imgpicker.app.MXImgPickerActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".app.MXImgShowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

    </application>
</manifest>